/* nav bar style */

.navbar {
  background-color: #ffffff !important;
}
.navbar-brand img {
  width: 30px;
  height: 30px;
}
.navbar-nav .nav-link {
  color: #3b2f2f !important;
}
.navbar-nav .nav-link.active {
  font-weight: bold;
}
.navbar-nav {
  margin-left: auto;
}  